<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-nav-buttons>
            <div class="buttons">
                <a href="#/app/main" class="button icon button-icon ion-ios-arrow-back"></a>
            </div>
            <div class="item-button-right">
                <button class="button button-icon ion-ios-keypad-outline" ng-click="popover.show($event)"></button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="contact" scroll="false">
        <ion-list class="contact-list">
            
            <ion-item class="item-icon-right" href="#" ng-click="showDesc()">
                <h4>HMH Lingo</h4>
                <p>a description of some of our processes</p>
                <i class="icon ion-ios7-telephone-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/app/floor">
                <h4>Floor Map</h4>
                <p>where can you find us</p>
                <i class="icon ion-ios7-email-outline contact-item"></i>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
