<ion-modal-view>
  <ion-header-bar class="bar-hmhorange">
    <h1 class="title">Process Descriptions</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDesc()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="true">
    <div class="item item-hmhvibrant item-input issue-search">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Process Descriptions" ng-model="searchDesc">
            <button ng-if="searchDesc.length" class="icon button-icon ion-ios-close-outline" ng-click="$parent.searchDesc=''">
            </button>
      </div>

    <div class="list card" ng-repeat="item in process | filter:searchDesc">
      <ion-item class="item item-hmhdark item-text-centre">{{item.process}}</ion-item>
      <ion-item class="item item-hmhwhite item-body">{{item.description}}</ion-item>    
      <ion-item class="item-divider item-hmhblue item-body">Important Notes</ion-item>    
      <ion-item class="item item-hmhwhite item-body">{{item.notes}}</ion-item>    
    </div>
  </ion-content>
</ion-modal-view>
