<ion-view >
     
<ion-nav-buttons class="bar-energized">
        <div class="buttons"><button class="button button-icon button-clear ion-drag" menu-toggle="left">
        </button>
        </div>
            <h1 class="title">Escalations</h1>
        <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-hmhvibrant item-input issue-search">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchDetails">
            <button ng-if="searchDetails.length" class="icon button-icon ion-ios-close-outline" ng-click="$parent.searchDetails=''">
            </button>
        </div>
       
        <div class="card" ng-repeat="detail in loginData | filter:searchDetails">
            <h2 class="item item-hmhgrey item-divider">{{detail.platform}}</h2>
            <h2 class="item item-hmhorange item-divider">{{detail.environment}}</h2>
            <div class="item item-hmhlight tabs tabs-secondary tabs-icon-left escalation">
                <p class="tab-item"><span class="icon green">1</span>Initial Action</p>
                <p class="tab-item"><span class="icon amber">2</span>Follow-Up</p>
                <p class="tab-item"><span class="icon red">3</span>Escalation</p>
            </div>
            <div class="item item-text-wrap">
            <p class="item item-icon-left"><i class="icon green">1</i>{{detail.initial}}</p>
            <p class="item item-icon-left"><i class="icon amber">2</i>{{detail.action}}</p>
            <p class="item item-icon-left"><i class="icon red">3</i>{{detail.escalation}}</p>
            </div>
        
            <div class="item item-hmhblue item-divider item-text-wrap">
                <h2>Notes:</h2>
                <p>{{detail.notes}}</p>
            </div>

        </div>
    </ion-content>
</ion-view>
