<ion-view>
    <ion-nav-title ng-init="header = getItem().issue" class="title">{{header}}</ion-nav-title>
<ion-nav-bar class="bar-hmhorange">
  <ion-nav-back-button class="button-icon button-clear ion-ios-arrow-left">
      </ion-nav-back-button>
    <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
</ion-nav-bar>
<ion-content ng-init="item = getItem()" class="issue-detail">

        <div class="list card issue-card">

            <ion-item  class="item-divider item-hmhlight item-text-centre">Process</ion-item>
            
              <ion-item class="item item-icon-right">
                <p>{{item.process}}</p>
                <div class="item-button-right">
                    <a class="button button-icon desc-icon ion-ios-paper-outline" ng-click="showDesc()"></a>
                </div>
              </ion-item>

              <ion-item  class="item-divider item-hmhlight item-text-centre">Cause</ion-item>
            <div class="item item-body">
            <p>{{item.cause}}</p>
          </div>
            
            <ion-item  class="item-divider item-hmhlight item-text-centre">Description</ion-item>
            <div class="item item-body">
            <p>
              {{item.description}}
            </p>
          </div>
            
            <ion-item  class="item-divider item-hmhlight item-text-centre">Detail</ion-item>
          <div class="item item-body">
            <p>
              {{item.text}}
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="showImage()">
              <i class="icon ion-ios-photos-outline"></i>
              Images
            </a>
            
            <a class="tab-item" href="{{item.jira}}" target="_blank">
              <i class="icon ion-share"></i>
              Jira
            </a>
          </div>

    </div>
    
    </ion-content>
</ion-view>