<ion-view>
    <ion-nav-bar class="bar-energized">
        <ion-nav-title>Location</ion-nav-title>
        <ion-nav-buttons >
            <button class="button button-icon button-clear ion-drag" menu-toggle="left"></button>
            <div class="item-button-right">
            <button ng-click="centerOnMe()" class="button button-icon ion-ios7-paperplane"></button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    </ion-content>
    
</ion-view>
