<ion-view>
    <ion-nav-buttons class="bar-hmhorange">
        <div class="buttons">
            <button class="button button-icon button-hmhdark ion-drag" menu-toggle="left">
            </button>
            <button ng-click="centerOnMe()" class="button icon button-icon ion-ios-paperplane-outline"></button>
        </div>
        <h1 class="title">Find Us</h1>
        <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
    </ion-nav-buttons>
    
    <ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    </ion-content>
    
</ion-view>
