<ion-view >
     
<ion-nav-buttons class="bar-energized">
        <div class="buttons"><button class="button button-icon button-clear ion-drag" menu-toggle="left">
        </button>
        </div>
            <h1 class="title">Commodity Team</h1>
        <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
    </ion-nav-buttons>
    <ion-content>
       
        
        <div class="card" ng-repeat="member in team" >
            <div class="item item-avatar">
                <img src={{member.avatar}}>
                <h2>{{member.name}}</h2>
                <h2 class="subdued">{{member.role}}</h2>
                <p>Since: {{member.start}}</p>
                <div class="item-button-right">
                    <button class="button button-icon ion-ios-keypad-outline" ng-init="num=$index" ng-click="teamPopover.show($event);setContact(num)"> 
                    </button>
                </div>
            </div>

            <div class="item item-body">
                <img class="team-image" src={{member.image}}>
                <p>
                    {{member.duties}}
                </p>
                
            </div>
        </div>
    </ion-content>
</ion-view>
