// HMH Colors
// -------------------------------

$hmhorange:                          #ffc800;
$hmhlight:                           #f0f0f0;
$hmhdark:                            #393939;
$hmhgrey:                            #868686;
$hmhwhite:                           #fafafa;
$hmhblue:                            rgba(210, 234, 255, 0.4);
$hmhbluefade:                        rgba(210, 237, 255, .7);
$hmhdarkfade:                        rgba(50, 50, 50, .6);
$hmhvibrantto:                       rgba(21, 164, 170, 0.5);
$hmhvibrantfrom:                     rgba(127, 227, 173, 0.5);

//--------------------------------



/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$hmhorange:                       #fac42e !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../scss/ionic/fonts" !default;

@import "ionic/scss/ionic";


.bar-hmhorange{
    background-color: $hmhorange;   
    color: $hmhwhite;   
}
.bar-hmhorange .button, .bar-hmhorange .nav-bar-title{
    color: $hmhdark;   
}
.bar .title, .bar .button{
    font-weight: 300;   
}
.item-hmhorange{
    background-color: $hmhorange;   
    color: $hmhdark;   
}
.item-hmhlight{
    background-color: $hmhlight;   
    color: $hmhdark;   
}
.item-hmhgrey{
    background-color: $hmhgrey;   
    color: $hmhwhite;   
}
.item-hmhdark{
    background-color: $hmhdark;   
    color: $hmhwhite;   
}
.item-hmhblue{
    background-color: $hmhblue;   
}
.item-hmhvibrant{
    background: linear-gradient(135deg, $hmhvibrantfrom 0%,$hmhvibrantto 100%); 
}

.escalation .icon{
    font-size: 20px;
}
.icon.green{
    color: #00bc46;
}
.icon.amber{
    color: #ffa700;
}
.icon.red{
    color: #eb0000;
    }
.hmhdarkfade{
    background-color: $hmhdarkfade;   
}
p.item-hmhblue{
    background-color: $hmhblue;   
    color: $hmhwhite;   
}
/*  .loading-container{
    background-color: $hmhbluefade;   
}
.loading p{
    font-size: 18px;
} */
.loading svg{
    
  width: 40px;
  height: 40px;
  stroke: $hmhwhite;
  fill: $hmhwhite;
}
 .backdrop{
    background-image: url('../img/main/hmh.png');
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    -webkit-animation: fadein linear 3.5s;
}

@-webkit-keyframes fadein {

   0%   { -webkit-filter: blur(10px);}
   
  40%   { -webkit-filter: blur(10px);}

 100%   { -webkit-filter: blur(0px);}
 
} 

.bar-light{
    background-color: transparent;
    border: none;
    border-width: 0;
}
.main{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/main/hmh.png');
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}
.contact-list{
    width: 100%;
    position: fixed;
    bottom: 0;
    /*border-top: 2px solid rgb(60,60,60);*/
    /*padding: 40px 0;*/
}

.contact-list .list .item{
    background-color: transparent;
    border: none;
    border-top: 2px solid #bbb;
}
.contact-list .list .item .item-content{
    background-color: rgba(60, 60, 60, 0.4);
    padding: 10px 100px 20px 20px;
}
.contact-list .list .item .item-content:active{
    background-color: rgba(255,255,255, 0.6);
}
.contact-list .list .item .item-content h4{
    font-size: 2em;
    font-weight: 100;
    color: rgb(255,255,255);
    border-bottom: 5px solid rgb(255, 170, 0);
}
.contact-list .list .item .item-content:active h4{
    color: rgb(40,40,40);
}
.contact-list .list .item .item-content p{
    font-size: .8em;
    font-weight: 200;
    color: rgb(255,255,255);
    
}
.contact-list .list .item .item-content:active p{
    color: rgb(40,40,40);
}
.contact-list .list .item .item-content{
    background-color: rgba(60, 60, 60, 0.4);
    padding: 3% 25% 3% 5%;
}
.contact-list .list .item-divider{
    background-color: rgba(255, 170, 0, 0.5);
    border: none;
    padding: 5% 20% 5%;
    text-align: center;
}
.contact-list .list .item-divider h2{
    color: #fff;
    font-size: 2em;
    font-weight: 100;
}
.contact-list .list .item-divider p{
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}
.contact-list .list .item .item-content i{
    color: rgb(255,255,255);
    font-size: 40px;
}
.contact-list .list .item .item-content:active i{
    color: rgb(255, 170, 0);
}
.contact{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/main/hmh_blur.png');
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

.issue-detail .list .item p{
    margin-top: 0;   
}

.popover{
    background-color: rgba(255,255,255, 0.9);
    border: none;
    padding: 20px;
    text-align: center;
    border-radius: 15px 0 15px 15px;
    
}
/*.teamPopover{
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 0;
    color: rgb(255, 170, 0);
    text-align: left;
    
}*/
.teamPopover .list .item, .teamPopover .list .item-content, .teamPopover .list .item p{
    
    background-color: transparent;
    border: none;
    color: rgb(30, 30, 30);
    text-align: left;
    font-size: 18px;
    
}
.teamPopover .list .item, .teamPopover .list .item-content.activated p,.teamPopover .list .item-content.activated i{
    
    color: rgb(0, 128, 255);   
}

.bar-light{
    background-color: transparent;
    border: none;
    border-width: 0;
    
}
.bar.bar-light{
    background-color: transparent;
    border: none;
}

map {
    display: block;
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}

/* Loader customization */
.loading {
    background-color: rgba(0,0,0,0)!important;
}
i.icon.ion-loading-c {
    color: rgb(255, 170, 0);
    zoom: 2;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.item-text-centre{
    text-align: center;
}
.full-image{
    width: 100%;
    height: 100%;
}
.slider{
    height: 100%;   
}

button.icon.button-icon.ion-ios7-close-outline {
  position: absolute;
  right: 0;
  color: #bbb;
}



