// HMH Colors
// -------------------------------

$hmhorange:                          #ffc800;
$hmhlight:                           #eaeaea;
$hmhdark:                            #393939;
$hmhwhite:                           #f0f0f0;
$hmhblue:                            rgb(210, 237, 255);
$hmhbluefade:                        rgba(210, 237, 255, .7);
$hmhdarkfade:                        rgba(50, 50, 50, .6);

//--------------------------------



/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$hmhorange:                       #fac42e !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../scss/ionic/fonts" !default;

@import "ionic/scss/ionic";


.bar-hmhorange{
    background-color: $hmhorange;   
    color: $hmhwhite;   
}
.bar-hmhorange .button, .bar-hmhorange .nav-bar-title{
    color: $hmhdark;   
}
.item-hmhorange{
    background-color: $hmhorange;   
    color: $hmhdark;   
}
.item-hmhlight{
    background-color: $hmhlight;   
    color: $hmhdark;   
}
.item-hmhdark{
    background-color: $hmhdark;   
    color: $hmhwhite;   
}
.item-hmhblue{
    background-color: $hmhblue;   
}

.escalation .icon{
    font-size: 20px;
}
.icon.green{
    color: #00bc46;
}
.icon.amber{
    color: #ffa700;
}
.icon.red{
    color: #eb0000;
    }
.hmhdarkfade{
    background-color: $hmhdarkfade;   
}
p.item-hmhblue{
    background-color: $hmhblue;   
    color: $hmhwhite;   
}
.loading-container{
    background-color: $hmhbluefade;   
}
.loading p{
    font-size: 18px;
    /*font-weight: 200;*/
    /*color: $hmhorange;*/   
}
.loading svg{
    
  width: 40px;
  height: 40px;
  stroke: $hmhwhite;
  fill: $hmhwhite;
}



